@import "navi.css";
@import "mainhead.css";

body {
    background-color: #f6f6f6;
    overflow-y: scroll;
}

#detailsinfo {
    font-size: 14px;
    align-items: baseline;
    margin-top: 2px;
    background-color: #ffffff;
    margin-left: 225px;
    margin-right: 225px;
    line-height: 2.1;
    border: 1px double #cccccc;
    height: 325px;
}

#headline {
    margin: 20px 225px 20px 225px;
    background-color: #f6f6f6;
}

#mainpic {
    float: left;
}

#info {
    margin-top: 20px;
    margin-left: 250px;
}

.p1 {
    font-weight: bold;
}

#summary {
    margin-top: 10px;
    margin-left: 225px;
    margin-right: 225px;
    height: 120%;
    /*background-color: white;*/
    font-size: 14px;
    /*border: 1px double #cccccc;*/
    line-height: 2;
}

h3 {
    margin-left: 225px;
}


div.ratingbox {
    float: right;
}

div.topitems {
    float: top;
}

div.ratingstars div.showscore {
    padding: 0;
    margin: 0;
}

div.ratingstars {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

div.ratingpeople {
    color: darkgray;
    text-align: center;
}

div.showscore {
    float: right;
    margin-right: 20px;
}

div.getratingstar{
    line-height: 1.5;
    font-size: 16px;
    margin-top: 100px;
}

div.getratingstar .btn {
    background-color: #690;
}

div.getratingstar input:focus {
    outline: none;
    border: none;
}

div.getratingstar .btn:hover {
    background-color: #060;
}

div:focus {
    outline: none;
}

#addcomments {
    margin-left: 225px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#addcomments input {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    margin-right: 225px;
    float: right;
    background-color: #690;
    color: white;
}

#addcomments input:hover {
    background-color: #060;
}

#comments {
    margin: 100px 225px;
}

.commentitem {
    margin-top: 5px;
    height: 130px;
    align-items: center;
    border-top: 1px solid gray;
}

.commentitem img{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.commenttext {
    margin-left: 130px;
    margin-top: 20px;
}