@import "mainhead.css";
@import "navi.css";

body {
    background-color: #f6f6f6;
    overflow-y: scroll;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #690;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

#datalist {
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 50px;
}

.searchinfo {
    margin: 30px 0;
    border: 1px double #cccccc;
    background-color: white;
}

.filmbox {
    display: flex;
    align-items: center;
}

.filminfo {
    margin-left: 30px;
    line-height: 1.9;
}

#pageinfo {
    text-align: center;
    margin: 30px 225px;
}

#pageinfo #pageinfo div {
    align-items: center;
}

.personinfo {
    display: flex;
}

.personinfo span {
    margin-left: 10px;
    margin-top: 10px;
}