@import "mainhead.css";
@import "navi.css";

body {
    background-color: #f6f6f6;
    overflow-y: scroll;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #690;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

#datalist {
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 50px;
}

.searchinfo {
    margin: 30px 0;
    border: 1px double #cccccc;
    background-color: white;
}

.filmbox {
    height: 190px;
}

.filmimg {
    float: left;
}

.topitems {
    float: right;
}

.filminfo {
    padding-top: 10px;
    margin-left: 150px;
    line-height: 2;
}

#pageinfo {
    text-align: center;
    margin: 30px 225px;
}

#pageinfo #pageinfo div {
    align-items: center;
}

.personinfo {
    display: flex;
}

.personinfo span {
    margin-left: 10px;
    margin-top: 10px;
}

div.ratingbox {
    float: right;
}

div.topitems {
    float: top;
}

div.ratingstars div.showscore {
    padding: 0;
    margin: 0;
}

div.ratingstars {
    float: left;
    margin-top: 20px;
    margin-right: 5px;
}

div.ratingpeople {
    color: darkgray;
    text-align: center;
}

div.showscore {
    float: right;
    margin-right: 21px;
    margin-top: 0;
}