<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FilmDbSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='/img/icon.ico') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <div id="mailhead">
        <div id="mainimg">
            <a href="{{ url_for('index') }}" >
                <img src="{{ url_for('static', filename='img/filmdbsys.png') }}" width="275px"/>
            </a>
        </div>
        <div id="navi">
            <ul class="naviul">
                <li class="naviitem"><a href="{{ url_for('index') }}" class="navia">首页</a></li>
                <li class="naviitem">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for d in genrelist %}
                                <li role="presentation" id="genredropli">
                                    <a role="menuitem" tabindex="-1" href="{{ url_for('searchresult', nowname=d)}}" id="genredropa">{{ d }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="naviitem">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">排行耪
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" id="genredropli">
                                <a role="menuitem" tabindex="-1" href="{{ url_for('ranklist', name="click")}}" id="genredropa">点击量</a>
                            </li>
                            <li role="presentation" id="genredropli">
                                <a role="menuitem" tabindex="-1" href="{{ url_for('ranklist', name="score")}}" id="genredropa">评分</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="naviitem"><a href="{{ url_for('famous', name='famousadapt') }}" class="navia">名著改编</a></li>
                <li class="naviitem">
                    <div id="searchbox">
                        <form action="{{ url_for('searchresult') }}" method="POST" autocomplete="off">
                            <input type="search" name="Name" id="searchinput" placeholder="搜索电影、影人、类型" />
                            <button type="submit" id="searchbutton" />
                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div id="readme">
        <ul class="md">
            <h3><b>使用说明</b></h3>
            <li>在右上角的搜索栏中搜索电影、影人、类型</li>
            <li>搜索可以为精准搜索、部分搜索以及模糊搜索</li>
            <li>在导航栏的类型选项中能选择相应的类型</li>
            <li>在导航栏中的排行榜选项中可以查看点击量排行榜以及评分排行榜</li>
            <li>在搜索时点击搜索结果可以进入详情界面</li>
            <li>详情界面可以查看电影的详细信息以及给电影打分</li>
            <h3><b>部分实现</b></h3>
            <li>最主要的数据结构为B+树，为电影名、人名以及类型各建立了一棵B+树，精确搜索时直接使用B+树的查找取出结果</li>
            <li>部分搜索是遍历所有元素暴力匹配</li>
            <li>模糊搜索使用fuzzwuzzy库实现获取两个字符串相关度，在暴力比较后将结果送入最大堆，最后结果取前30名</li>
            <li>点击量和评分均采用一个有序数组辅助记录，每次修改后在数组上二分寻找所在位置以及该插入的位置，从而维护点击量和评分的排行</li>
            <li>web框架使用flask</li>
            <li>数据集来自豆瓣top250</li>

            <h3><b>Instructions for use</b></h3>

            <li>Search for movies, filmmakers, types in the search bar in the upper right corner</li>

            <li>Search can be precise search, partial search and fuzzy search</li>

            <li>The corresponding type can be selected in the type option of the navigation bar</li>

            <li>In the leaderboard option in the navigation bar, you can view the click through leaderboard and scoring leaderboard</li>

            <li>When searching, click the search result to enter the details interface</li>

            <li>In the details interface, you can view the details of the movie and score the movie</li>

            <h3><b>Partial implementation</b></h3>

            <li>The main data structure is the B + tree. A B + tree is established for movie name, person name and type. The search results of the B + tree are directly used in accurate search</li>

            <li>Partial search is to traverse all elements to match</li>

            <li>Fuzzy search uses the fuzzywuzzy library to obtain the correlation between two strings. After violent comparison, the results are sent to the maximum heap, and the final results are the top 30</li>

            <li>The hits and scores are recorded in an ordered array. After each modification, the binary score on the array is used to find the location and the inserted location, so as to maintain the ranking of hits and scores</li>

            <li>Web framework using flaks</li>

            <li>The data set is from Douban top250</li>
        </ul>
    </div>
    <div class="imgbox">
        <img src="/static/img/filmdbsyschara.png" width="400" id="img1">
        <img src="/static/img/byiceorz.png" width="300" id="img2">
    </div>
</body>
</html>