<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>FilmDbSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='/img/icon.ico') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <div id="mailhead">
        <div id="mainimg">
            <a href="{{ url_for('index') }}" >
                <img src="{{ url_for('static', filename='img/filmdbsys.png') }}" width="275px"/>
            </a>
        </div>
        <div id="navi">
            <ul class="naviul">
                <li class="naviitem"><a href="{{ url_for('index') }}" class="navia">首页</a></li>
                <li class="naviitem">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for d in genrelist %}
                                <li role="presentation" id="genredropli">
                                    <a role="menuitem" tabindex="-1" href="{{ url_for('searchresult', nowname=d)}}" id="genredropa">{{ d }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="naviitem">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">排行耪
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" id="genredropli">
                                <a role="menuitem" tabindex="-1" href="{{ url_for('ranklist', name="click")}}" id="genredropa">点击量</a>
                            </li>
                            <li role="presentation" id="genredropli">
                                <a role="menuitem" tabindex="-1" href="{{ url_for('ranklist', name="score")}}" id="genredropa">评分</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="naviitem"><a href="{{ url_for('famous', name='famousadapt') }}" class="navia">名著改编</a></li>
                <li class="naviitem">
                    <div id="searchbox">
                        <form action="{{ url_for('searchresult') }}" method="POST" autocomplete="off">
                            <input type="search" name="Name" id="searchinput" placeholder="搜索电影、影人、类型" />
                            <button type="submit" id="searchbutton" ></button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="popularhead"><b>大家都在看：</b></div>
    <div id="popular">
        {% for d in data.popular %}
            <div class="popularitem">
                <a href="{{ url_for('details', id=d.keyid) }}">
                    <img src="{{ d.img }}" height="225"/>
                </a>
                <a href="{{ url_for('details', id=d.keyid) }}">{{ d.name }}</a>
            </div>
        {% endfor %}
    </div>
    <div id="readme">
        <ul class="md">
            <h3><b>使用说明</b></h3>
            <li>在右上角的搜索栏中搜索电影、影人、类型</li>
            <li>搜索可以为精准搜索、部分搜索以及模糊搜索</li>
            <li>在导航栏的类型选项中能选择相应的类型</li>
            <li>在导航栏中的排行榜选项中可以查看点击量排行榜以及评分排行榜</li>
            <li>在导航栏的名著改编选项中可以查看由名著改编而来的电影</li>
            <li>在搜索时点击搜索结果可以进入详情界面</li>
            <li>详情界面可以查看电影的详细信息</li>
            <li>详情界面可以对电影发表评论</li>
            <li>详情界面有相似电影的推荐</li>
            <h3><b>部分实现及说明</b></h3>
            <li>最主要的部分为将数据加载到内存，存入数组，根据电影名，人名以及类型构建三棵B+树来构成索引，查询时能够查询到电影在数组中的位置</li>
            <li>精确搜索直接根据键值在B+树上查找</li>
            <li>部分搜索是遍历所有元素，去掉所有标点符号后暴力匹配+kmp优化</li>
            <li>模糊搜索使用fuzzwuzzy库实现获取两个字符串相关度，在暴力比较后将结果送入最大堆，最后结果取前30名</li>
            <li>点击量和评分均采用一个有序数组记录，每次排行时加载所有元素并快速排序</li>
            <li>相似电影推荐原想法使用tfidf比较两个电影简介内容的相似度，由于数据量过大，电脑内存不够，预处理比较麻烦，暴力匹配单个约一分钟，时间过长。后采用对电影的导演编剧演员及类型构建向量，并暴力比较余弦相似度完成</li>
            <li>web框架使用flask</li>
            <li>数据集约50000条数据</li>
        </ul>
    </div>
    <div class="imgbox">
        <img src="/static/img/filmdbsyschara.png" width="400" id="img1">
        <img src="/static/img/byiceorz.png" width="300" id="img2">
    </div>
</body>
</html>